

<div class="container-fluid p-5 text-center text-white  " style="background-color: #2c3e50;">
    <div class="row">
        <div class="col-md-4 my-3" >
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 my-3" >
            <h2>AROUND THE WEB</h2>
        <div >

            <i class="fa-brands fa-facebook mx-2 border border-1 rounded-circle p-2"></i>
            <i class="fa-brands fa-twitter mx-2  border border-1 rounded-circle p-2"></i>
            <i class="fa-brands fa-linkedin-in mx-2  border border-1 rounded-circle p-2"></i>
            <i class="fa-solid fa-globe mx-2  border border-1 rounded-circle p-2"></i>

        </div>
        </div>
        <div class="col-md-4 my-3" >
            <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>




<div class="p-4 text-center text-white " style="background-color: #1a252f;">
    <p class="m-0">Copyright © Your Website 2021</p>
</div>
