<div style="background-color: #1abc9c;"  >
<div class="text-center text-white padding2 vh-90 ">
    <app-star [titlestar]="'about component'"></app-star>
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            
        </div>
      </div>
</div>


</div>

