<nav class="navbar navbar-expand-lg  px-5  navbar-dark fixed-top " [class.py-4]="!scroll" style="background-color: #2c3e50;">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-2" href="#" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarNav">
        <ul class="navbar-nav ms-auto gap-3  ">
          
          <li class="nav-item  ">
            <a class="nav-link text-white fw-bold " routerLink="/about" routerLinkActive="active" >ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" routerLink="/Protfolio" routerLinkActive="active" >PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" routerLink="/contact" routerLinkActive="active" >CONTACT</a>
          </li>
       
        </ul>
      </div>
    </div>
  </nav>
